@import "./formType.scss";

section {
  text-align: left;
  h1 {
    text-align: center;
  }
  input[type="file"] {
    margin-bottom: 0.4rem;
  }
  textarea {
    width: 100%;
  }
  input[type="date"] {
    width: 100%;
  }
}
