@import "../css/variabls.css";

.heading {
  position: relative;
  padding: 0rem;
  figure {
    position: relative;
    height: 20rem;
    width: 100%;
    background: linear-gradient(to right, var(--blue_color), transparent);
    @media (min-width: 1024px) {
      height: 15rem;
      width: 100%;
    }
    img {
      position: absolute;
      z-index: -1;
      object-fit: cover;
      object-position: top;
    }
  }
  .head_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    @media (min-width: 1024px) {
      align-items: flex-start;
      padding-left: 5.5rem;
      width: auto;
    }
    h1,
    span {
      color: var(--white);
    }
  }
}

.vaccancy {
  @media (min-width: 1024px) {
    grid-area: 1/1 / span 1 / span 2;
  }
  h2 {
    text-align: center;
    @media only screen and (min-width: 768px) {
      text-align: left;
    }
  }
  figure {
    height: 16rem;
    width: 100%;
    margin-bottom: 0.8rem;
    @media only screen and (min-width: 768px) {
      margin: 0rem;
    }
    @media (min-width: 1024px) {
      height: 20rem;
    }
  }
  ul {
    li {
      margin-bottom: 0.4rem;
    }
    li::before {
      content: "\25CF";
      font-weight: bold;
      display: inline-block;
      width: 1em;
      color: var(--blue_color);
    }
  }

  .vaccancy_content {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;
    }
    .vaccancy_details {
      grid-area: 1/2 / span 1 / span 2;
    }
  }
}

.facility {
  text-align: center;
  .fas {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--light_blue);
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1rem;
    @media only screen and (min-width: 768px) {
      margin: 0rem;
    }
  }
  .last_para {
    margin: 0rem;
  }
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  @media (min-width: 1024px) {
    grid-area: 2/1 / span 1 / span 3;
    align-items: end;
  }
}

.servise_details {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: start;
    gap: 1rem;
  }
  @media (min-width: 1024px) {
    display: block;
  }
  .details {
    border: 0.13rem solid var(--gray-border);
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    @media only screen and (min-width: 768px) {
      margin: 0rem;
    }
    @media (min-width: 1024px) {
      margin-bottom: 0.5rem;
    }
    ul li {
      border-bottom: 0.1rem solid var(--gray-border);
      margin-bottom: 0.6rem;
      display: flex;
      height: 1.7rem;
      justify-content: space-between;
      h4 {
        margin-bottom: 0.6rem;
        .horizontal_bar {
          font-size: 1.2rem;
          letter-spacing: -0.12rem;
          color: var(--blue_bold_text);
          margin-left: -1.6rem;
        }
      }
      span {
        font-size: 0.8rem;
      }
      .item {
        font-weight: bold;
      }
      .value {
        font-weight: bold;
        color: var(--gray);
      }
    }
    ul .last_list {
      border: none;
      margin: 0rem;
    }
  }
  .Schedule {
    margin: 0rem;
  }
}

.servises {
  background-color: var(--light_blue);
  text-align: center;
  .servise_head {
    h2 {
      color: var(--white);
    }
    .buttons {
      margin-bottom: 1rem;
      button {
        padding: 0.5rem 0.6rem;
        border-radius: 50%;
        border: none;
      }
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .servise_content {
    height: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    @media only screen and (min-width: 768px) {
      margin: 0rem;
    }
    h3 {
      text-align: left;
      margin: 1.4rem 0rem;
      @media (min-width: 1024px) {
        margin: 1.1rem 0rem;
      }
      .horizontal_bar {
        font-size: 1.2rem;
        letter-spacing: -0.1rem;
        color: var(--blue_bold_text);
      }
    }

    figure {
      height: 11rem;
      width: 100%;
      margin-bottom: 0.5rem;
      img {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }
  }
  .cardiology {
    margin: 0rem;
  }
  .contents {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 0.5rem;
    }
  }
}

.combine_section {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 10rem;
    align-items: center;
    padding: 3.5rem 5.5rem;
    gap: 1rem;
    section {
      padding: 0rem;
    }
  }
}
