@import "../css/variabls.css";
@import "./aboutType.scss";

main {
  .heading {
    background-image: url(../image/contactUs.png);
    background-position: 47%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
