@import "../css/variabls.css";

body {
  background-color: var(--light_blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  main {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
    @media only screen and (min-width: 768px) {
      margin: 3rem 2rem;
    }
    section {
      background-color: var(--white);
      padding: 1.5rem 1rem;
      width: 100%;
      box-shadow: 0rem 0rem 1rem var(--gray);
      input[type="text"],
      [type="password"],
      [type="email"],
      [type="date"] {
        width: 100%;
      }
      // select box styling////////////////////////////////////////////////////////////////////
      .select_box {
        position: relative;
        .select {
          width: 100%;
          .hide_option {
            display: none;
          }
          appearance: none;
        }
        .fa-caret-down {
          position: absolute;
          top: 0.7rem;
          right: 0.8rem;
        }
      }
      // ///////////////////////////////////////////////////////////////////////////////
      @media only screen and (min-width: 768px) {
        width: 30rem;
      }
      @media (min-width: 1024px) {
        width: 32rem;
      }
      h1 {
        color: var(--blue_bold_text);
        border-bottom: 1.5px solid var(--gray-border);
        margin: 0rem -1rem 1rem;
        padding-bottom: 1.5rem;
      }
      hr {
        margin: 1rem -1rem 1rem;
      }
      .log-button {
        position: relative;
        button {
          letter-spacing: 0.2rem;
          border: none;
          width: 100%;
          margin-bottom: 0.8rem;
        }
        .fa-arrow-right {
          position: absolute;
          right: 1rem;
          top: 0.6rem;
          color: var(--white);
          @media (min-width: 1024px) {
            top: 0.7rem;
          }
        }
      }
      label {
        font-size: 0.8rem;
        a {
          font-family: "Nexa Bold";
          font-size: 0.8rem;
          color: var(--blue_bold_text);
        }
      }
    }
  }
  footer {
    padding: 0rem 1rem 2rem;
    p {
      margin: 0rem;
      font-family: "Nexa Bold";
    }
  }
}
