@import "../css/variabls.css";

body {
  background-color: var(--light_blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  main {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
    @media only screen and (min-width: 768px) {
      margin: 7rem 2rem;
    }
    @media (min-width: 1024px) {
      margin: 7rem 2rem;
    }
    section {
      background-color: var(--white);
      padding: 1.5rem 1rem;
      width: 100%;
      box-shadow: 0rem 0rem 1rem var(--gray);
      input[type="text"],
      [type="password"],
      [type="email"] {
        width: 100%;
      }
      // select box styling////////////////////////////////////////////////////////////////////
      select {
        width: 100%;
        .hide_option {
          display: none;
        }
      }
      .select_box {
        position: relative;
        button {
          position: absolute;
          right: 0.14rem;
          padding: 0rem;
          height: 2.6rem;
          width: 0.8rem;
          border: 0rem;
          box-shadow: 2px 2px 1px grey;
          pointer-events: none;
          @media (min-width: 1024px) {
            height: 3rem;
          }
          .fas {
            position: static;
            color: var(--deep_blue);
          }
        }
      }
      // ///////////////////////////////////////////////////////////////////////////////
      @media only screen and (min-width: 768px) {
        width: 30rem;
      }
      @media (min-width: 1024px) {
        width: 32rem;
      }
      h1 {
        color: var(--blue_bold_text);
        margin-bottom: 1.5rem;
      }
      hr {
        margin: 1rem -1rem 1rem;
      }
      .log-button {
        position: relative;
        button {
          background-color: var(--deep_blue);
          color: var(--white);
          letter-spacing: 0.2rem;
          border: none;
          width: 100%;
          margin-bottom: 0.8rem;
        }
        .fa-arrow-right {
          position: absolute;
          right: 1rem;
          top: 0.8rem;
          color: var(--white);
          @media (min-width: 1024px) {
            top: 0.9rem;
          }
        }
      }
      label {
        font-size: 0.8rem;
        a {
          font-family: "Nexa Bold";
          font-size: 0.8rem;
          color: var(--blue_bold_text);
        }
      }
    }
  }
  footer {
    padding: 0rem 1rem 2rem;
    p {
      margin: 0rem;
      font-family: "Nexa Bold";
    }
  }
}
