@import "./formType.scss";

main {
  .form {
    .input_icon_block {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--gray-border);
      margin-bottom: 0.7rem;
      input {
        margin-bottom: 0rem;
        border: none;
      }
      .fas {
        color: var(--blue_color);
        padding: 0.5rem;
        @media only screen and (min-width: 768px) {
          margin-right: 0.5rem;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.7rem;
      input[type="submit"] {
        font-family: "Nexa bold";
        color: var(--blue_bold_text);
        border: none;
        padding: 0rem;
        background-color: var(--white);
        cursor: pointer;
        outline: none;
        @media only screen and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    .phoneLoginLink {
      display: flex;
      justify-content: center;
    }
  }
}
