@import "./variabls.css";

header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login_btn {
      background-color: var(--white);
      color: var(--deep_blue);
    }
    .nav_logo {
      height: 1.5rem;
      width: 6.4rem;
      margin: 0rem;
      @media only screen and (min-width: 768px) {
        height: 1.6rem;
        width: 6.9rem;
        margin: 0rem;
      }
    }
    ul {
      display: none;
      @media (min-width: 1024px) {
        display: inline-flex;
        justify-content: space-around;
        flex-shrink: 6;
        gap: 1rem;
        li {
          a {
            &:hover {
              font-family: "Nexa Bold";
              color: var(--blue_bold_text);
            }
          }
        }
        .tratmentItems {
          cursor: pointer;
          span {
            &:hover {
              font-family: "Nexa Bold";
              color: var(--blue_bold_text);
            }
          }
          &:hover {
            .treatmentsMenu {
              display: block;
            }
          }
          .treatmentsMenu {
            display: none;
            padding-top: 0.3rem;
            position: absolute;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            position: absolute;
            background-color: var(--gray_background);
            top: 2.5rem;
            width: 15rem;
            margin-left: -5rem;
            .tratment_item {
              padding: 0.6rem 1rem;
              &:hover {
                background-color: var(--white);
              }
            }
          }
        }
      }
    }
    .nav_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      button {
        display: none;
        @media (min-width: 1024px) {
          width: 7rem;
          font-size: 0.7rem;
          display: block;
          padding: 0.5rem 0.3rem;
          border-radius: 0.2rem;
          border: 0.09rem solid var(--deep_blue);
          flex: 6 6 3rem;
        }
      }
      .profile_dropdown {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: var(--light_blue);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
        font-family: "Nexa bold";
        font-size: 0.6rem;
        line-height: 0.8rem;
        overflow: hidden;

        .fa-chevron-down {
          font-size: 0.7rem;
          margin-left: 0.3rem;
        }
        @media (min-width: 1024px) {
          text-transform: uppercase;
          font-size: 0.8rem;
          border-radius: unset;
          width: auto;
          height: auto;
          display: block;
          background-color: var(--white);
          &:hover {
            cursor: pointer;
          }
        }
      }
      .fa-bars {
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }
    .dropDown {
      display: none;
      position: absolute;
      width: 15rem;
      top: 5.2rem;
      right: 1rem;
      background: var(--white);
      text-align: left;
      @media only screen and (min-width: 768px) {
        right: 2rem;
      }
      @media (min-width: 1024px) {
        right: 5.5rem;
      }
      .user_details {
        .profileAnchor {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem;
          border-bottom: 1px solid var(--gray-border);

          span {
            display: block;
            margin-bottom: 0rem;
            &.user_name {
              font-family: "nexa bold";
              color: var(--blue_bold_text);
              margin-bottom: 0.5rem;
            }
          }
          figure {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        li {
          margin: 0rem;
          a {
            display: block;
            padding: 0.8rem 1rem;
            font-family: "nexa bold";
            border-left: 5px solid var(--white);
            &:hover {
              background-color: var(--gray-border);
              border-left: 5px solid var(--blue_color);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
