main{
    position: relative;
    min-height: 53vh;
    @media only screen and (min-width: 768px) {
      min-height: 79vh;
    }
   @media (min-width: 1024px) {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr;
     padding: 3.5rem 5.5rem 0rem;
     grid-gap: 3rem;
   }
    .dashboard_LeftBar {
        display: none;
        @media (min-width: 1024px) {
          padding: 0rem;
          display: block;
          grid-area: 1/1 / span 1 / span 1;
        }
        .dashBoard_heading {
          @media (min-width: 1024px) {
            font-size: 1.6rem;
            margin-left: 1rem;
          }
        }
        .dashboard_list {
          .link {
            .dashboard_ListItem {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              height: 3rem;
              width: 100%;
              margin-bottom: 0rem;
              border-left: 0.5rem solid var(--white);
              &:hover {
                background-color: var(--gray_background);
                border-left: 0.5rem solid var(--blue_color);
                cursor: pointer;
              }
              span {
                font-size: 1.2rem;
                margin-bottom: 0rem;
              }
              .selected {
                font-family: "Nexa bold";
                color: var(--blue_bold_text);
              }
              .fas {
                color: var(--blue_color);
                font-size: 1.3rem;
                padding-left: 0.5rem;
              }
            }
          }
        }
    }
    .settings{
    grid-area: 1/2/span 1/span 3;
      @media (min-width: 1024px) {
        padding: 0rem;
      }
        .changePasswordForm{
            .settingHead{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0rem 1rem 1rem 1rem;
                margin: 0rem -1rem 1rem -1rem;
                border-bottom: 1px solid var(--gray-border);
                @media only screen and (min-width: 768px) {
                  padding: 0rem 2rem 1rem 2rem;
                  margin: 0rem -2rem 1rem -2rem;
                }
                h1{
                    margin-bottom: 0rem;
                }
                .savePassword{
                    background-color: var(--blue_color);
                    color: var(--white);
                    border: none;
                    border-radius: 5px;
                    padding: 1rem;
                }
            }
            .passwordChange{
                padding: 0rem 1rem 1rem 1rem;
                margin: 0rem -1rem 1rem -1rem;
                border-bottom: 1px solid var(--gray-border);
                @media only screen and (min-width: 768px) {
                  padding: 0rem 2rem 1rem 2rem;
                  margin: 0rem -2rem 1rem -2rem;
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  gap: 0.5rem;
                }
                .inputHead{
                  h3{
                    color: var(--blue_color);
                  }
                  .inputPassword{
                    width: 100%;
                  }
                  .combineEyeSlash{
                    display: flex;
                    align-items: center;
                    border: 1px solid var(--gray-border);
                    .inputPassword{
                      border: none;
                      margin-bottom: 0rem;
                    }
                    .fas{
                      color: var(--blue_color);
                      padding: 0.5rem;
                    }
                  }
                }
               
            }
            // .passwordChange{
            //   @media only screen and (min-width: 768px) {
            //     display: grid;
            //     grid-template-columns: repeat(2, 1fr);
            //     gap: 0.5rem;
            //   }
            //     h3{
            //         color: var(--blue_color);
            //     }
            //     .inputNewPassword{
            //         width: 100%;
            //     }
            // }
        }
    }
}