<html>

<head>
    <title>Healthy Matters</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/aboutus.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section class="heading">
        <div class="heading_contant">
            <h1>Leaving Healthy Matters</h1>
            <p>Our specialists aspire to bridge the gap between your benefits plan and health needs.</p>
        </div>
        <figure>
            <img src="../assets//image/aboutUs_hero.jpeg" alt="">
        </figure>

    </section>
    <section class="details">
        <div class="featurs">
            <h2>You have to begin to tell the story of tour life as you now want it to be and discontinue the tales.
            </h2>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium
                investor
                long tail agile workers prototype validation influence market share
            </p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium
                investor
                long tail agile workers prototype validation influencer market share.
            </p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium
                investor
                long tail agile workers prototype validation influencer market share.
            </p>
        </div>
        <div class="signature">
            <figure>
                <img src="../assets/image/signature.png" alt="">
            </figure>
        </div>
        <div class="doctor_img">
            <figure>
                <img src="../assets/image/femaleDoctor.png" alt="">
            </figure>
        </div>
    </section>
    <section class="facility">
        <div class="visual_aboup">
            <div class="inscription">
                <h2>Your wellness builds upon the medical daily.</h2>
                <p>Find your best self here. Discover new ways to live an inspiring life through natural beauty,
                    nutrition
                    and
                    diet, an active lifestyle, and better relationship.</p>
            </div>
            <button>Set a free Checkup</button>
            <div class="acknowledgement">
                <div class="facility_contant">
                    <h3>12M</h3>
                    <span>Happy Patients</span>
                </div>
                <div class="facility_contant">
                    <h3>5K</h3>
                    <span>Medical Assistants</span>
                </div>
                <div class="facility_contant">
                    <h3>9.8</h3>
                    <span>Alexa Score</span>
                </div>
                <div class="facility_contant">
                    <h3>3.2K</h3>
                    <span>Doctors Available</span>
                </div>
                <div class="facility_contant">
                    <h3>45K</h3>
                    <span>Cure Rate</span>
                </div>
                <div class="facility_contant health_points">
                    <h3>75</h3>
                    <span>Health Points</span>
                </div>
            </div>
        </div>

        <figure class="background_figure">
            <img src="../assets/image/yellow-sky.jpg" alt="">
        </figure>
    </section>
    <section class="quary_section">
        <div>
            <h2>Join our team</h2>
            <p>We are always looking for good and talented people.</p>
        </div>
        <div>
            <button type="submit">Submit your CV</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>

</html>