<html>

<head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/aboutHospital.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>

<main>
    <section class="heading">
        <h1>About Apollo Hospital</h1>
        <span>Home/Hospital Profile</span>
    </section>
    <section class="about_details">
        <div class="details">
            <div class="combine_img">
                <figure class="doctor_img">
                    <img src="../assets/image/Apollo.png" alt="">
                </figure>
                <button>Call Now</button>
            </div>
            <div class="combine_content">
                <h2 class="name"><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Apollo Hospital</h2>
                <ul class="servises">
                    <li><span><i class="fas fa-map-marker-alt"></i></span> Delhi Mathura Road, Sarita Vihar, Delhi
                        110076</li>
                    <li><span><i class="fas fa-bed"></i></span>113 beds</li>
                </ul>
                <p class="artical">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, illo retione asperiores voluptates
                    a
                    vel eos laboriam, distinctio sed dolorem, saepe repellendus incidunt. Veritatis modi harum unde
                    officiis, placeat blansitiis.
                </p>
                <div class="question">
                    <h3 class="question_contain" name="specialization"> <span><i class="fas fa-award"></i></span>
                        Specialization</h3>
                    <i class="fas fa-chevron-down" name="specialization"></i>
                </div>
                <div class="ans" id="specialization">
                    <p>
                        Being a good doctor means being incredibly compulsive. It has nothing to do with flights of
                        intuition or brilliant diagnoses or even saving lives. It's dealing with a lot of people with
                        chronic diseases that you really can't change or improve. You can help patients. You can make.
                    </p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="Famous_treatment"> <span><i
                                class="fas fa-stethoscope"></i></span>Famous Treatment</h3>
                    <i class="fas fa-chevron-down" name="Famous_treatment"></i>
                </div>
                <div class="ans" id="Famous_treatment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="famous_doctor"><span><i class="fas fa-user-md"></i></span>Famous
                        Doctors</h3>
                    <i class="fas fa-chevron-down" name="famous_doctor"></i>
                </div>
                <div class="ans" id="famous_doctor">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="infastructure"><span><i
                                class="fas fa-hospital"></i></span>Infastructure</h3>
                    <i class="fas fa-chevron-down" name="infastructure"></i>
                </div>
                <div class="ans" id="infastructure">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="address"><span><i
                                class="fas fa-map-marker-alt"></i></span>Complete Address</h3>
                    <i class="fas fa-chevron-down" name="address"></i>
                </div>
                <div class="ans" id="address">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        dolore magna aliqua.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="hospital_packages"><span><i
                                class="fas fa-h-square"></i></span>Hospital Packages</h3>
                    <i class="fas fa-chevron-down" name="hospital_packages"></i>
                </div>
                <div class="ans" id="hospital_packages">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="hospital_charges"><span><i
                                class="fas fa-rupee-sign"></i></span>Hospital Charges</h3>
                    <i class="fas fa-chevron-down" name="hospital_charges"></i>
                </div>
                <div class="ans" id="hospital_charges">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
                <div class="question">
                    <h3 class="question_contain" name="membership"><span><i class="fas fa-id-card"></i></span>Membership
                    </h3>
                    <i class="fas fa-chevron-down" name="membership"></i>
                </div>
                <div class="ans" id="membership">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="../scripts/accordion.js"></script>

</html>