<html>

<head>
    <title>Email Login</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/serverMessageBox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>

<main>

    <section class="form">
        <form method="post" action="/ChangePassword">
            <h1>Create New password</h1>
            <div class="input_icon_block">
                <input type="password" autocomplete="off" name="password" id="password" placeholder="Enter password">
                <i class="fas fa-eye-slash" id="password-eye"></i>
            </div>
            <input type="password" required id="matchPassword" required placeholder="Conform password">
            <div class="log-button">
                <button id="login">SUBMIT</button>
                <i class="fas fa-arrow-right"></i>
            </div>
        </form>
    </section>
</main>

<footer>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>


<script src="/scripts/passwordValidation.js"></script>
<script src="/scripts/passwordVisibility.js"></script>
<script src="/scripts/matchPassword.js"></script>

</html>