<html>

<head>
    <title>Dentistry</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/dentistry.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section class="heading">
        <div class="head_content">
            <h1>Dentistry</h1>
            <span>Home/Dentistry</span>
        </div>
        <figure>
            <img src="../assets/image/dentist_hero_image.jpg" alt="">
        </figure>
    </section>
    <div class="combine_section">
        <section class="vaccancy">
            <h2>Vaccination</h2>
            <div class="vaccancy_content">
                <figure>
                    <img src="../assets/image/dentist.jpg" alt="">
                </figure>
                <div class="vaccancy_details">
                    <h3>About Dentistry Department</h3>
                    <p>The vaccination of dentists against various vaccine-preventable infections the most important
                        measure
                        of
                        primary prevention against such diseases whaich would otherwise prove fatal for both the
                        dentists
                        and
                        their
                        patients.</p>
                    <ul>
                        <li>CF-related diabetes (monthly)</li>
                        <li>Gastrointestinal (monthly)</li>
                        <li>CF-related liver disease (monthly)</li>
                        <li>Sweat testing (three time per month)</li>
                    </ul>
                </div>
            </div>

        </section>
        <section class="facility">
            <div>
                <i class="fas fa-stethoscope"></i>
                <h4>Central Nervous System</h4>
                <p>Open visitation with only two visitors in a room at any time. No one under 12 yeras of age may.</p>
            </div>
            <div>
                <i class="fas fa-tablets"></i>
                <h4>Allergic Disorders</h4>
                <p>Open visitation with only two visitors in a room at any time. No one under 12 yeras of age may.</p>
            </div>
            <div>
                <i class="fas fa-heartbeat"></i>
                <h4>Neoplastic Disordes</h4>
                <p class="last_para">Open visitation with only two visitors in a room at any time. No one under 12 yeras
                    of
                    age may.</p>
            </div>
        </section>
        <section class="servise_details">
            <div class="details">
                <h4><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Details</h4>
                <ul>
                    <li><span class="item">Price</span><span class="value">from $340</span></li>
                    <li><span class="item">Duration</span><span class="value">10 Minutes</span></li>
                    <li><span class="item">Office</span><span class="value">#46</span></li>
                    <li><span class="item">Doctor</span><span class="value">Dr.Elizabeth Beard</span></li>
                    <li class="last_list"><span class="item">Catagories</span><span class="value">Family Medicine</span>
                    </li>
                </ul>
            </div>
            <div class="details Schedule">
                <h4><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Schedule</h4>
                <ul>
                    <li><span class=" item">Tuesday</span><span class="value">10:00-01:00</span></li>
                    <li class="last_list"><span class="item">Friday</span><span class="value">07:00am-10:00pm</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <section class="servises">
        <div class="servise_head">
            <h2>More Services</h2>
            <div class="buttons">
                <button><i class="fas fa-chevron-left"></i></button>
                <button><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="contents">
            <div class="servise_content">
                <figure>
                    <img src="../assets/image/image--008.jpg" alt="">
                </figure>
                <h3><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Orthopedic Surgery</h3>
            </div>
            <div class="servise_content">
                <figure>
                    <img src="../assets/image/image--010.jpg" alt="">
                </figure>
                <h3><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Cancer</h3>
            </div>
            <div class="servise_content cardiology">
                <figure>
                    <img src="../assets/image/image--011.jpg" alt="">
                </figure>
                <h3><span class="horizontal_bar">&#8212;&#8212;&nbsp;&nbsp;</span>Cardiology</h3>
            </div>
        </div>

    </section>
    <footer class="footer">
        <img class="footer_img" src="../assets/image/footer.png" alt="">
        <ul>
            <li><a href="">Doctor</a> </li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">FAQs</a></li>
        </ul>
        <div id="footer-icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
    </footer>
</main>

</html>