<html>

<head>
    <title>Doctor</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/doctor.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section class="heading">
        <h1>Cardiac Surgon in&nbsp;<span>Delhi</span></h1>
        <div class="blue_layer"></div>
        <figure>
            <img src="../assets/image/Doctors.png" alt="">
        </figure>
    </section>
    <section class="sort-section">
        <h3>Home/Doctor List</h3>
        <select name="" id="">
            <option value="">Sort By</option>
        </select>
    </section>
    <div class="combine-section">
        <section class="filter-section">
            <h3>Filter By</h3>
            <div class="filter-list">
                <div class="filter-head">
                    <h4>Location</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>
                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">DLF Cyber City</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Dwaraka</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Lajpat Nagar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Palam Vihar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Pusa Road</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Treatment</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Multi Organ Transplant</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Orthopedic Surgurey</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Infertility Treatment</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Dentistry</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cardiology</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cancer</label>
                    </li>

                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Hospitals</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Apollo Hospital</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Manipal north Side Hospital</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Northstar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">AIIMS</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Fortis Hospital</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Elibit Diagnostic</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Year of Experience</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">30+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">25+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">20+</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">15+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">10+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">5+</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>
        </section>
        <section class="doctor-details">
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span> Duke Sanson</h3>
                <ul>
                    <li>
                        <i class="fas fa-certificate"></i>
                        <span>Duke Sanson</span>
                    </li>
                    <li>
                        <i class="fas fa-award"></i>
                        <span>Neuro Surgon</span>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>Chain Department of Neurogical Surgery</span>
                    </li>
                    <li>
                        <i class="fas fa-building"></i>
                        <span>doctor1</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Australia</span>
                    </li>
                </ul>
                <button class="appointment_btn">Book a appointment</button>
                <figure>
                    <img src="../assets/image/doc.image--002.jpg" alt="">
                </figure>
            </div>
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Georgea Peter</h3>
                <ul>
                    <li>
                        <i class="fas fa-certificate"></i>
                        <span>Georgea Peter</span>
                    </li>
                    <li>
                        <i class="fas fa-award"></i>
                        <span>Breast Cancer Surgeon</span>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>Director, UT, Southwest</span>
                    </li>
                    <li>
                        <i class="fas fa-building"></i>
                        <span>doctor2</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>London</span>
                    </li>
                </ul>
                <button class="appointment_btn">Book a appointment</button>
                <figure>
                    <img src="../assets/image/image--004.jpg" alt="">
                </figure>
            </div>
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Charlie Moon</h3>
                <ul>
                    <li>
                        <i class="fas fa-certificate"></i>
                        <span>Charlie Moon</span>
                    </li>
                    <li>
                        <i class="fas fa-award"></i>
                        <span>Cardiac Surgeon</span>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>MBBS, MD, FRCP, MRCP, Fellowship</span>
                    </li>
                    <li>
                        <i class="fas fa-building"></i>
                        <span>doctor3</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>New Delhi, India</span>
                    </li>
                </ul>
                <button class="appointment_btn">Book a appointment</button>
                <figure>
                    <img src="../assets/image/image--005.jpg" alt="">
                </figure>
            </div>
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Rose Moon</h3>
                <ul>
                    <li>
                        <i class="fas fa-certificate"></i>
                        <span>Rose Moon</span>
                    </li>
                    <li>
                        <i class="fas fa-award"></i>
                        <span>Plastic Surgeon</span>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>Department of Plastic and Reconstructive Surger</span>
                    </li>
                    <li>
                        <i class="fas fa-building"></i>
                        <span>doctor4</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Dubai</span>
                    </li>
                </ul>
                <button class="appointment_btn">Book a appointment</button>
                <figure>
                    <img src="../assets/image/image--003.jpg" alt="">
                </figure>
            </div>
            <div class="details last_doc">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Rose Moon</h3>
                <ul>
                    <li>
                        <i class="fas fa-certificate"></i>
                        <span>Rose Moon</span>
                    </li>
                    <li>
                        <i class="fas fa-award"></i>
                        <span>Plastic Surgeon</span>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <span>Department of Plastic and Reconstructive Surger</span>
                    </li>
                    <li>
                        <i class="fas fa-building"></i>
                        <span>doctor5</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Dubai</span>
                    </li>
                </ul>
                <button class="appointment_btn">Book a appointment</button>
                <figure>
                    <img src="../assets/image/image--006.jpg" alt="">
                </figure>
            </div>
        </section>
    </div>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>

</html>