<html>

<head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section class="heading">
        <h1>FAQ</h1>
        <span>Home/FAQ</span>
    </section>
    <section class="about_details">
        <div class="questions">
            <h3>How do I make Payment?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="ans">
            <p>You can set up recurring scheduled payments or make a one-time payment in the Wallet app with just a few
                taps. If you don't have an eligible iPhone or iPad, you can make an Apple Card payment online at
                card.apple.com.
            </p>
        </div>

        <div class="questions">
            <h3>There is not enough money in my portea Wallet for making a payment. What do I do?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="questions">
            <h3>Can I transfer balance in Portea Wallet balance to another user?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="questions">
            <h3>Is Portea Money the same as Portea Wallet?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="questions">
            <h3>Refund</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="questions">
            <h3>What is Family ID?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="questions">
            <h3>Who can be added as Family?</h3>
            <i class="fas fa-chevron-down"></i>
        </div>

    </section>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>

</html>