<html>

<head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
            <span class="profile_dropdown">Koustev Devbhuti<i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="dropDown">
            <div class="user_details">
                <figure>
                    <img src="../assets/image/doc.image--002.jpg" alt="">
                </figure>
                <div>
                    <span class="user_name">
                        Koustan
                    </span>
                    <span class="user_ph">
                        9556629948
                    </span>
                </div>
            </div>
            <ul>
                <li><a href="">rgrerg</a></li>
                <li><a href="">logout</a></li>
            </ul>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section class="heading">
        <h1>FAQ</h1>
        <span>Home/FAQ</span>
    </section>
    <section class="about_details">
        <div class="questions">
            <h3 class="question_contain" name="how_to_pament">How do I make Payment?</h3>
            <i class="fas fa-chevron-down" name="how_to_pament"></i>
        </div>
        <div class="ans" id="how_to_pament">
            <p>You can set up recurring scheduled payments or make a one-time payment in the Wallet app with just a few
                taps. If you don't have an eligible iPhone or iPad, you can make an Apple Card payment online at
                card.apple.com.
            </p>
        </div>

        <div class="questions">
            <h3 class="question_contain" name="enough_money_in_wallet">There is not enough money in my portea Wallet for
                making a payment. What do I do?</h3>
            <i class="fas fa-chevron-down" name="enough_money_in_wallet"></i>
        </div>
        <div class="ans" id="enough_money_in_wallet">
            <p>There are countless CA test series that provides the students with numerous services but GM TEST SERIES
                this time has over stepped everyone, this is because the student from our institute Essakiraj Arumugam
                from the Salem district in Tamil Nadu has secured the primary rank in the all-India level in the CA
                final Nov 2020 attempt in his first try by scoring 553 out of 800 marks.</p>
        </div>
        <div class="questions">
            <h3 class="question_contain" name="transfer_balance">Can I transfer balance in Portea Wallet balance to
                another user?</h3>
            <i class="fas fa-chevron-down" name="transfer_balance"></i>
        </div>
        <div class="ans" id="transfer_balance">
            <p>There are countless CA test series that provides the students with numerous services but GM TEST SERIES
                this time has over stepped everyone, this is because the student from our institute Essakiraj Arumugam
                from the Salem district in Tamil Nadu has secured the primary rank in the all-India level in the CA
                final Nov 2020 attempt in his first try by scoring 553 out of 800 marks.</p>
        </div>
        <div class="questions">
            <h3 class="question_contain" name="Portea_Money_the_same_Portea_Wallet">Is Portea Money the same as Portea
                Wallet?</h3>
            <i class="fas fa-chevron-down" name="Portea_Money_the_same_Portea_Wallet"></i>
        </div>
        <div class="ans" id="Portea_Money_the_same_Portea_Wallet">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
        <div class="questions">
            <h3 class="question_contain" name="refund">Refund</h3>
            <i class="fas fa-chevron-down" name="refund"></i>
        </div>
        <div class="ans" id="refund">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
        <div class="questions">
            <h3 class="question_contain" name="who_add_family">What is Family ID?</h3>
            <i class="fas fa-chevron-down" name="family_id"></i>
        </div>
        <div class="ans" id="family_id">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
        <div class="questions">
            <h3 class="question_contain" name="who_add_family">Who can be added as Family?</h3>
            <i class="fas fa-chevron-down" name="who_add_family"></i>
        </div>
        <div class="ans" id="who_add_family">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>

    </section>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="../scripts/accordion.js"></script>

</html>