<html>

<head>
    <title>Hospital</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/hospital.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>

    <section class="heading">
        <h1>Hospitals in&nbsp;<span>Dilhi</span></h1>
        <div class="layer"></div>
        <figure>
            <img src="../assets/image/Doctors.png" alt="">
        </figure>
    </section>

    <section class="sort-section">
        <h3>Home/Hospital List</h3>
        <select name="" id="">
            <option value="">Sort By</option>
        </select>
    </section>
    <div class="combine-section">
        <section class="filter-section">
            <h3>Filter By</h3>
            <div class="filter-list">
                <div class="filter-head">
                    <h4>Location</h4>
                    <i class="fas fa-search"></i>
                </div>
                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">DLF Cyber City</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Dwaraka</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Lajpat Nagar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Palam Vihar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Pusa Road</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>
            <div class="filter-list">
                <div class="filter-head">
                    <h4>Department</h4>
                    <i class="fas fa-search"></i>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Depatment one</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Department 1</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Department onx</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Department opo</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Department ON</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Department Five</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Treatment</h4>
                    <i class="fas fa-search"></i>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Multi Organ Transplant</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Orthopedic Surgurey</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Infertility Treatment</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Dentistry</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cardiology</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cancer</label>
                    </li>

                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

        </section>
        <section class="hospital-details">
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Apollo Hospital</h3>
                <ul class="fasilaty">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                    </li>
                    <li>
                        <i class="fas fa-bed"></i>
                        <span>100 beds</span>
                    </li>
                    <li>
                        <i class="fas fa-stethoscope"></i>
                        <span>Famous Treatments</span>
                    </li>
                </ul>
                <ul class="treatments">
                    <li>Multi organ Transplant</li>
                    <li>Orthopedic Surgurey</li>
                    <li>Infertility Treatment</li>
                    <li>Dentistry</li>
                    <li>Cardiology</li>
                    <li>Cancer</li>
                    <li>+40 more</li>
                </ul>
                <button class="call_btn">Call Now</button>
                <figure>
                    <img src="../assets/image/Hospital01.png" alt="">
                </figure>
            </div>
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Fortis Hospital</h3>
                <ul class="fasilaty">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                    </li>
                    <li>
                        <i class="fas fa-bed"></i>
                        <span>100 beds</span>
                    </li>
                    <li>
                        <i class="fas fa-stethoscope"></i>
                        <span>Famous Treatments</span>
                    </li>
                </ul>
                <ul class="treatments">
                    <li>Multi organ Transplant</li>
                    <li>Orthopedic Surgurey</li>
                    <li>Infertility Treatment</li>
                    <li>Dentistry</li>
                    <li>Cardiology</li>
                    <li>Cancer</li>
                </ul>
                <button class="call_btn">Call Now</button>
                <figure>
                    <img src="../assets/image/Hospital02.png" alt="">
                </figure>
            </div>
            <div class="details">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Rockland Hospital</h3>
                <ul class="fasilaty">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                    </li>
                    <li>
                        <i class="fas fa-bed"></i>
                        <span>100 beds</span>
                    </li>
                    <li>
                        <i class="fas fa-stethoscope"></i>
                        <span>Famous Treatments</span>
                    </li>
                </ul>
                <ul class="treatments">
                    <li>Multi organ Transplant</li>
                    <li>Orthopedic Surgurey</li>
                    <li>Infertility Treatment</li>
                    <li>Dentistry</li>
                    <li>Cardiology</li>
                    <li>Cancer</li>
                </ul>
                <button class="call_btn">Call Now</button>
                <figure>
                    <img src="../assets/image/Hospital03.png" alt="">
                </figure>
            </div>
            <div class="details last_hospital">
                <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>Primus Super Speciality
                    Hospital
                </h3>
                <ul class="fasilaty">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                    </li>
                    <li>
                        <i class="fas fa-bed"></i>
                        <span>100 beds</span>
                    </li>
                    <li>
                        <i class="fas fa-stethoscope"></i>
                        <span>Famous Treatments</span>
                    </li>
                </ul>
                <ul class="treatments">
                    <li>Multi organ Transplant</li>
                    <li>Orthopedic Surgurey</li>
                    <li>Infertility Treatment</li>
                    <li>Dentistry</li>
                    <li>Cardiology</li>
                    <li>Cancer</li>
                </ul>
                <button class="call_btn">Call Now</button>
                <figure>
                    <img src="../assets/image/Hospital04.png" alt="">
                </figure>
            </div>
        </section>
    </div>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>

</html>