<html>

<head>
    <title>Email Login</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/serverMessageBox.css">
    <link rel="stylesheet" href="/css/serverMessageBox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>

<main>
    <% if(status){ %>
        <section class="server-message <%=status%>" id="serverMessageSection">
            <div class="status_message">
                <% if(status==="Failure" ) { %>
                    <i class=" msg_logo fas fa-times-circle"></i>
                    <% } else if(status==="Success" ) { %>
                        <i class=" msg_logo fas fa-check-circle"></i>
                        <%}%>
                            <div class="msg">
                                <h4>
                                    <%=status%>
                                </h4>
                                <span>
                                    <%=message%>
                                </span>
                            </div>
            </div>
            <i class="fas fa-times" id="closeServerMessageBox"></i>
        </section>
        <%}%>


            <section class="form">
                <form method="post" action="/Phonelogin">
                    <h1>Phone Login</h1>
                    <input type="text" id="phNumber" name="phNumber" required required maxlength="10"
                        placeholder="Enter Mobile Number">
                    <div class="links phoneLoginLink">
                        <input type="submit" name="command" value="LogIn with password">
                    </div>
                    <div class="log-button">
                        <button id="login">SUBMIT</button>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </form>
            </section>
</main>

<footer>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="/scripts/serverMessageBox.js"></script>
<script>
    document.getElementById("login").addEventListener("click", function () {
        let phNumber = document.getElementById("phNumber");
        if (new RegExp("[0-9]{10}").test(phNumber.value)) {
            phNumber.setCustomValidity("");
        } else {
            phNumber.setCustomValidity("Must contain 10 digits");
        }
    })

</script>