<html>

<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/serverMessageBox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/doctor">Doctor</a></li>
            <li><a href="/hospital">Hospital</a></li>
            <li class="tratmentItems"><span>Treatment</span><i class="fas fa-angle-down"></i>
                <ul class="treatmentsMenu">
                    <li class="tratment_item"><a href="">Dentistry</a></li>
                    <li class="tratment_item"><a href="">Cancer</a></li>
                    <li class="tratment_item"><a href="">Multi Organ Transplant</a></li>
                    <li class="tratment_item"><a href="">Orthopedics Surgery</a></li>
                    <li class="tratment_item"><a href="">Infertiliti Treatment</a></li>
                </ul>
            </li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
            <i class="fas fa-bars"></i>
        </div>

    </nav>
</header>
<main>

    <% if(status){ %>
        <section class="server-message <%=status%>" id="serverMessageSection">
            <div class="status_message">
                <% if(status==="Failure" ) { %>
                    <i class=" msg_logo fas fa-times-circle"></i>
                    <% } else if(status==="Success" ) { %>
                        <i class=" msg_logo fas fa-check-circle"></i>
                        <%}%>
                            <div class="msg">
                                <h4>
                                    <%=status%>
                                </h4>
                                <span>
                                    <%=message%>
                                </span>
                            </div>
            </div>
            <i class="fas fa-times" id="closeServerMessageBox"></i>
        </section>
        <%}%>

            <section class="form">
                <form action="/signup" method="POST">
                    <h1>Sign Up</h1>
                    <input type="text" required name="name" placeholder="Enter name">
                    <input type="email" id="email" required name="email" placeholder="Enter email">
                    <input type="text" id="password" required name="password" placeholder="Enter password">
                    <div class="select_box">
                        <select class="select" required name="gender">
                            <option value="" class="hide_option">Enter your gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <i class="fas fa-caret-down"></i>

                    </div>

                    <input type="date" required name="date" id="date">
                    <input type="text" maxlength="10" id="phNumber" name="phoneNumber" placeholder="Enter Phone Number">
                    <div id="place">
                        <input type="text" required name="city" class="place-city" placeholder="Enter City">
                        <input type="text" required name="state" class="place-state" placeholder="Enter State">
                    </div>

                    <div class="select_box country">
                        <select class="select" required name="country">
                            <option value="" class="hide_option">Enter your gender</option>
                            <option value="India">India</option>
                            <option value="Bangladesh">Bangladesh</option>
                        </select>
                        <i class="fas fa-caret-down"></i>
                    </div>

                    <!-- <input type="text" required name="country" placeholder="Select your country"> -->

                    <div class="isDoctor">
                        <input type="checkbox" name="isDoctor" id="isDoctor">
                        <label for="isDoctor">Is Doctor</label>
                    </div>

                    <div class="log-button">
                        <button id="signup">SIGN UP</button>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </form>
                <label for="">Allready Registered? <a href="/emailLogin">Login</a></label>
            </section>
</main>
<footer>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script type="text/javascript" src="/scripts/selectPlaceHolder.js"></script>
<script src="/scripts/datePlaceHolder.js"></script>
<script src="/scripts/signup.js"></script>
<script src="/scripts/serverMessageBox.js"></script>

<!-- <script>
    var tratment_item = document.getElementsByClassName("tratment_item");
    for (var i = 0; i < tratment_item; i++) {
        tratment_item[i].addEventListener("mouseover", displayItems)
    }

    function displayItems() {
        document.getElementById("treatmentMenu").style.display = block;
    }
</script> -->

</html>