<html>

<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
    <section>
        <form action="">
            <h1>Sign Up</h1>
            <input type="text" placeholder="Enter name">
            <input type="email" placeholder="Enter email">
            <input type="password" placeholder="Enter password">
            <div class="select_box">
                <select class="select" name="Enter Gender">
                    <option value="" class="hide_option">Enter your gender</option>
                    <option value="Male">Male</option>
                    <option value="Femail">Femail</option>
                </select>
                <i class="fas fa-caret-down"></i>

            </div>

            <input type="date" id="date">
            <input type="text" placeholder="Enter Phone Number">
            <div id="place">
                <input type="text" class="place-city" placeholder="Enter City">
                <input type="text" class="place-state" placeholder="Enter State">
            </div>
            <input type="text" placeholder="Select your country">
            <div class="log-button">
                <button>SIGN UP</button>
                <i class="fas fa-arrow-right"></i>
            </div>
        </form>
        <label for="">Allready Registered? <a>Login</a></label>
    </section>
</main>
<footer>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="/scripts/selectPlaceHolder.js"></script>
<script src="/scripts/datePlaceHolder.js"></script>

</html>