<html>

<head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/navigation.css">
    <link rel="stylesheet" href="../assets/css/tvastraPlus.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navigation">
        <img class="nav_logo" src="../assets/image/Logo.jpg" alt="">
        <ul>
            <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>

<main>
    <section class="heading">
        <div class="heading-content">
            <button class="blue-button">Plus</button>
            <h1>Healthcare plans for you and your family</h1>
            <span>Become a Trastra Plus Member and save 60% off on your year health expenses</span>
        </div>

        <div class="healthcare-plan">
            <h2>Select a Tvastra Plus healthcare plan</h2>
            <span class="description">All Plus plans are for 4 adults and 2 children</span>
            <div class="all-plans">
                <div class="basic_plan plan">
                    <h3>Basic Plan</h3>
                    <ul>
                        <li>Unlimmited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkips</li>
                    </ul>
                    <span class="amount">&#x20B9;2,999<span class="year">/year</span></span>
                    <a class="view-plan" href="">view plan details</a>
                    <button class="blue-button">Buy Plan</button>
                </div>

                <div class="advance_plan plan">
                    <h6 class="populer">Populer</h6>
                    <h3>Advance Plan</h3>
                    <ul>
                        <li>Unlimmited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkips</li>
                        <li>10 Free In-Clinc consultation</li>
                    </ul>
                    <span class="amount">&#x20B9;3,999<span class="year">/year</span></span>
                    <a class="view-plan" href="">view plan details</a>
                    <button class="blue-button">Buy Plan</button>
                </div>
                <div class="comprehensive plan">
                    <h3>Comprehensive</h3>
                    <ul>
                        <li>Unlimmited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkips</li>
                        <li>10 Free In-Clinc consultation</li>
                        <li>2 Master heath checkups</li>
                    </ul>
                    <span class="amount">&#x20B9;5,999<span class="year">/year</span></span>
                    <a class="view-plan" href="">view plan details</a>
                    <button class="blue-button">Buy Plan</button>
                </div>
            </div>

        </div>
        <figure class="head-img">
            <img src="../assets/image/tvastraPlus_heroSection.webp" alt="">
        </figure>
        <div class="liniar-gradiant-background"></div>
    </section>
    <section class="review">
        <h2>Trusted by 2 Crore+ users every month</h2>
        <p>Tvastra is the leading heathcare technology company in India. We began in 2009 and today we help 2 crore
            customers every month.</p>
        <div class="public_rating">
            <div class="star_rating_view">
                <span class="rating">4.5</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="total-review">1000+ review</span>
            </div>
            <div class="bar_rating_view">
                <div class="star_bar">
                    <span class="star_value">5</span>
                    <div class="bar-container">
                        <div class="bar-5 bar">
                        </div>
                    </div>
                </div>
                <div class="star_bar">
                    <span class="star_value">4</span>
                    <div class="bar-container">
                        <div class="bar-4 bar">
                        </div>
                    </div>
                </div>
                <div class="star_bar">
                    <span class="star_value">3</span>
                    <div class="bar-container">
                        <div class="bar-3 bar">
                        </div>
                    </div>
                </div>
                <div class="star_bar">
                    <span class="star_value">2</span>
                    <div class="bar-container">
                        <div class="bar-2 bar">
                        </div>
                    </div>
                </div>
                <div class="star_bar">
                    <span class="star_value">1</span>
                    <div class="bar-container">
                        <div class="bar-1 bar">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="medical_history">
            <div class="medical_document">
                <i class="fas fa-users"></i>
                <span class="total">2 Crore+</span>
                <span class="activity">Monthly Customers</span>
            </div>
            <div class="medical_document">
                <i class="fas fa-user-md"></i>
                <span class="total">1000,000+</span>
                <span class="activity">Verfied Doctors</span>
            </div>
            <div class="medical_document">
                <i class="fas fa-pills"></i>
                <span class="total">10Lakh+</span>
                <span class="activity">medicine Orders Delivered</span>
            </div>
            <div class="medical_document">
                <i class="fas fa-stop">FOCO</i>
                <span class="total">5Crore+</span>
                <span class="activity">Doctor Appointment</span>
            </div>
        </div>
    </section>
    <section class="benefites">
        <h2>Benefites of Pluse Member</h2>
        <div class="grid_zoro_free_clinic_consultation">
            <div class="zoro_free_clinic_consultation_document benefit_points">
                <h3>Zero fees for in-clinic consultation</h3>
                <ul class="benefit_list_items">
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Consult with 30000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs 0
                        consultation frees*
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Upto 10 in-clinc consultation can be used by any family member over 12 month period.

                    </li>
                </ul>
            </div>
            <div class="top_hospital_onboarded">
                <h4>Top Hospitals Onboarded</h4>
                <div class="top_hospitals">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg"
                            alt="">
                    </figure>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
                            alt="">
                    </figure>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
                            alt="">
                    </figure>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg"
                            alt="">
                    </figure>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
                            alt="">
                    </figure>
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
                            alt="">
                    </figure>
                </div>
                <a href="">+More Hospital</a>
            </div>


        </div>


        <div class="unlimited_online_consultation benefit_points">
            <div class="unlimited_online_consultation_document">
                <h3>Unlimited online consultation with top doctors</h3>
                <ul class="benefit_list_items">
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Get all your health queries answered from any specialist online, any time of the day
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Connect under 2 minutes on text, call or video - available 24 hrs. 7 days of the week
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        All online consultations are confidential. Only patient and doctor can the access the chats.
                    </li>
                </ul>
            </div>


            <figure>
                <img src="../assets/image/online-chat.png" alt="">
            </figure>
        </div>

        <div class="flat_Off_on_prescription_medicine benefit_points">
            <div class="flat_Off_on_prescription_medicine_document">
                <h3>Flat 20% Off on prescription medicine, lab tests & checkips</h3>
                <ul class="benefit_list_items">
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Save money on medicines and tests for your entire family
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Get flat 20% off on medicines that require prescriptions & flat 20% off on heath checkups and
                        lab
                        tests
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        No questions asked. No minimum order values, no limits, available in 100+ cites across India.
                    </li>
                </ul>
            </div>


            <figure>
                <img src="../assets/image/order.jpg" alt="">
            </figure>
        </div>
        <div class="free_health_checkups benefit_points">
            <div class="free_health_checkups_document benefit_points">
                <h3>2 Free health checkups</h3>
                <ul class="benefit_list_items">
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Discuss your test results with doctors through online
                        consultation.
                        Receive E-Report within 48 hrs.
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Home samlie picup
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Tabs are NABL, CAP Accredited
                    </li>
                    <li>
                        <span><i class="fas fa-check-circle"></i></span>
                        Checkups can be booked anytime, even weekends. Tax deductible under80D.
                    </li>
                </ul>
            </div>

            <figure>
                <img src="../assets/image/checkup.jpg" alt="">
            </figure>
        </div>
        <div class="test_include">
            <h4>60 Test include</h4>
            <div class="tests">
                <div class="test_figure">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"
                            alt="">
                    </figure>
                    <span class="profile">Vitamin Profile</span>
                    <span class="total_test">2 Test</span>
                </div>
                <div class="test_figure">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"
                            alt="">
                    </figure>
                    <span class="profile">Iron Deficiency</span>
                    <span class="total_test">3 Test</span>
                </div>
                <div class="test_figure">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"
                            alt="">
                    </figure>
                    <span class="profile">Throid Profile</span>
                    <span class="total_test">3 Test</span>
                </div>
                <div class="test_figure">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg"
                            alt="">
                    </figure>
                    <span class="profile">Liver Profile</span>
                    <span class="total_test">11 Test</span>
                </div>
            </div>

        </div>


    </section>

    <section class="why_we_love_tvastra">
        <div class="heading_of_love_tvastra">
            <h2>Why we love Tvastra</h2>
            <button>PLUS</button>
        </div>
        <div class="all_doctor_reviews">
            <div class="doctor_review">
                <p>
                    "Wonderful experience with Tvastra Plus it helped me in saving a lot of amout as it provides free
                    consultation with best doctors."
                </p>
                <div class="about_doctor">
                    <figure class="doctor_img">
                        <img src="../assets/image/image--005.jpg" alt="">
                    </figure>
                    <div class="doctor_details">
                        <span class="doctor_name">Rishabh Tiwari</span>
                        <button>Advanced Plan User</button>
                    </div>
                </div>
            </div>
            <div class="doctor_review">
                <p>
                    "Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test .i came to
                    know
                    my deficiency in vitamin where family doctor feature helped me with medicine"
                </p>
                <div class="about_doctor">
                    <figure class="doctor_img">
                        <img src="../assets/image/image--005.jpg" alt="">
                    </figure>
                    <div class="doctor_details">
                        <span class="doctor_name">Mini Agarwal</span>
                        <button>Comprehensive Plan User</button>
                    </div>

                </div>

            </div>
            <div class="doctor_review">
                <p>
                    "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in
                    super handy."
                </p>
                <div class="about_doctor">
                    <figure class="doctor_img">
                        <img src="../assets/image/image--005.jpg" alt="">
                    </figure>
                    <div class="doctor_details">
                        <span class="doctor_name">Prachi Gupta</span>
                        <button>Comprehensive Plan User</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section class="about_details">
        <h2>Frequntly Asked Questions</h2>
        <div class="about_details">
            <div class="questions">
                <h3>How does free in-clinic consultation with doctor and hospitals work?</h3>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="ans">
                <p></p>
            </div>
            <div class="questions">
                <h3>How do the unlimited online consultation work?</h3>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="questions">
                <h3>How does flat 20% off on medicines work?</h3>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="questions">
                <h3>How does 20% off on lab tests work?</h3>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </section>
</main>

</html>

<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>