main .heading {
  display: none;
}
@media (min-width: 1024px) {
  main .heading {
    display: block;
    position: relative;
    height: 17rem;
    width: 100%;
    padding: 0rem;
  }
  main .heading figure {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  main .heading figure img {
    object-position: top;
  }
  main .heading .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--light_blue);
    opacity: 0.8;
    z-index: 2;
  }
  main .heading h1 {
    position: absolute;
    z-index: 3;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 5.5rem;
    margin-bottom: 0rem;
    box-sizing: border-box;
  }
  main .heading h1 span {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 0rem;
    text-decoration: underline;
  }
}
main .sort-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}
@media only screen and (min-width: 768px) {
  main .sort-section {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1024px) {
  main .sort-section {
    padding: 2rem 5.5rem;
  }
}
main .sort-section select {
  color: var(--deep_blue);
  background-color: var(--gray-border);
  padding: 0.5rem 0.3rem;
}
@media only screen and (min-width: 768px) {
  main .sort-section select {
    margin-bottom: 0rem;
  }
}
main .sort-section h3 {
  margin-bottom: 0rem;
  font-family: "Nexa Light";
}
@media (min-width: 1024px) {
  main .combine-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0rem 5.5rem 3.5rem;
    column-gap: 1.5rem;
  }
}
main .combine-section .filter-section {
  display: none;
}
@media (min-width: 1024px) {
  main .combine-section .filter-section {
    display: block;
  }
}
main .combine-section .filter-section h3 {
  padding: 0.5rem 0.8rem;
  background-color: var(--gray-border);
}
main .combine-section .filter-section .fas {
  color: var(--blue_color);
}
@media (min-width: 1024px) {
  main .combine-section .filter-section {
    padding: 0rem;
    grid-area: 1/1/span 1/span 1;
  }
}
main .combine-section .filter-section .filter-list {
  margin-bottom: 1.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--gray-border);
}
main .combine-section .filter-section .filter-list .show-more {
  font-family: "Nexa Bold";
  font-size: 0.8rem;
  color: var(--blue_bold_text);
}
main .combine-section .filter-section .filter-list .filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
main .combine-section .filter-section .filter-list .filter-head h4 {
  margin: 0rem;
  font-family: "Nexa Light";
}
main .combine-section .filter-section .filter-list .filter-head .fas {
  font-size: 0.8rem;
}
main .combine-section .filter-section .filter-list ul {
  margin-bottom: 0.5rem;
}
main .combine-section .filter-section .filter-list ul li {
  display: flex;
  align-items: center;
}
main .combine-section .filter-section .filter-list ul li label {
  display: block;
  margin-left: 0.6rem;
  margin-bottom: 0rem;
}
main .combine-section .hospital-details {
  padding-top: 0rem;
}
@media (min-width: 1024px) {
  main .combine-section .hospital-details {
    padding: 0rem;
    grid-area: 1/2/span 1/span 3;
  }
}
main .combine-section .hospital-details .details {
  margin-bottom: 1rem;
  border: 0.1rem solid var(--gray-border);
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details {
    display: grid;
    padding-left: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1rem repeat(9, 2rem) 1rem;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details .fasilaty {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-area: 3/1/span 3/span 2;
    column-gap: 0.8rem;
    row-gap: 0.3rem;
  }
}
main .combine-section .hospital-details .details .treatments {
  display: flex;
  flex-wrap: wrap;
  grid-area: 6/1/span 3/span 2;
}
main .combine-section .hospital-details .details .treatments li {
  border: 1px solid var(--gray-border);
  padding: 0.3rem 0.4rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
main .combine-section .hospital-details .details h3 {
  display: flex;
  align-items: center;
  color: var(--blue_color);
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details h3 {
    grid-area: 2/1/span 1/span 2;
    margin: 0rem;
  }
}
main .combine-section .hospital-details .details h3 .horizontal_bar {
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
  color: var(--blue_bold_text);
  margin-left: -0.1rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details h3 .horizontal_bar {
    margin-left: -2.1rem;
  }
}
main .combine-section .hospital-details .details .fas,
main .combine-section .hospital-details .details .far {
  color: var(--blue_color);
  width: 0.8rem;
  margin-bottom: 0.2rem;
}
main .combine-section .hospital-details .details .call_btn {
  display: block;
  background-color: var(--deep_blue);
  color: var(--white);
  border: none;
  margin: 0 auto 0.5rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details .call_btn {
    grid-area: 9/1/span 2/span 2;
    margin: auto auto auto 0rem;
  }
}
main .combine-section .hospital-details .details figure {
  height: 20rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details figure {
    grid-area: 1/3/span 11/span 1;
    height: auto;
  }
}
main .combine-section .hospital-details .details ul {
  padding-left: 0.6rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details ul {
    padding-left: 0.3rem;
    margin-bottom: 0rem;
  }
}
main .combine-section .hospital-details .details ul li {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.1rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details ul li {
    margin: 0rem;
  }
}
main .combine-section .hospital-details .details span {
  display: block;
  margin-bottom: 0.2rem;
  margin-left: 0.9rem;
}
@media only screen and (min-width: 768px) {
  main .combine-section .hospital-details .details span {
    margin-bottom: 0rem;
  }
}
main .combine-section .hospital-details .last_hospital {
  margin: 0rem;
}

/*# sourceMappingURL=hospital.css.map */
