@import "../css/variabls.css";
body {
  background-color: var(--light_blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
body header {
  background-color: var(--white);
}
body main {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
}
@media only screen and (min-width: 768px) {
  body main {
    margin: 3rem 2rem;
  }
}
body main .form {
  background-color: var(--white);
  padding: 1.5rem 1rem;
  width: 100%;
  box-shadow: 0rem 0rem 1rem var(--gray);
}
body main .form input[type=text],
body main .form [type=password],
body main .form [type=email],
body main .form [type=date] {
  width: 100%;
}
body main .form input[type=date] {
  color: var(--placeHolderColor);
}
body main .form .select_box {
  position: relative;
}
body main .form .select_box .select {
  width: 100%;
  appearance: none;
}
body main .form .select_box .select .hide_option {
  display: none;
}
body main .form .select_box .fa-caret-down {
  position: absolute;
  top: 0.7rem;
  right: 0.9rem;
  pointer-events: none;
}
@media (min-width: 1024px) {
  body main .form .select_box .fa-caret-down {
    right: 1.1rem;
  }
}
@media only screen and (min-width: 768px) {
  body main .form {
    width: 30rem;
  }
}
@media (min-width: 1024px) {
  body main .form {
    width: 32rem;
  }
}
body main .form h1 {
  color: var(--blue_bold_text);
  border-bottom: 1.5px solid var(--gray-border);
  margin: 0rem -1rem 1rem;
  padding-bottom: 1.5rem;
}
body main .form hr {
  margin: 1rem -1rem 1rem;
}
body main .form .log-button {
  position: relative;
}
body main .form .log-button button {
  letter-spacing: 0.2rem;
  border: none;
  width: 100%;
  margin-bottom: 0.8rem;
}
body main .form .log-button .fa-arrow-right {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  color: var(--white);
  pointer-events: none;
}
@media (min-width: 1024px) {
  body main .form .log-button .fa-arrow-right {
    top: 0.7rem;
  }
}
body main .form label {
  font-size: 0.8rem;
}
body main .form label a {
  font-family: "Nexa Bold";
  font-size: 0.8rem;
  color: var(--blue_bold_text);
}
body footer {
  padding: 0rem 1rem 2rem;
}
body footer p {
  margin: 0rem;
  font-family: "Nexa Bold";
}

main .form .input_icon_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-border);
  margin-bottom: 0.7rem;
}
main .form .input_icon_block input {
  margin-bottom: 0rem;
  border: none;
}
main .form .input_icon_block .fas {
  color: var(--blue_color);
  padding: 0.5rem;
}
@media only screen and (min-width: 768px) {
  main .form .input_icon_block .fas {
    margin-right: 0.5rem;
  }
}
main .form .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
main .form .links input[type=submit] {
  font-family: "Nexa bold";
  color: var(--blue_bold_text);
  border: none;
  padding: 0rem;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
}
@media only screen and (min-width: 768px) {
  main .form .links input[type=submit] {
    font-size: 1rem;
  }
}
main .form .phoneLoginLink {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=login.css.map */
