@import "./variabls.css";
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .login_btn {
  background-color: var(--white);
  color: var(--deep_blue);
}
header .navigation .nav_logo {
  height: 1.5rem;
  width: 6.4rem;
  margin: 0rem;
}
@media only screen and (min-width: 768px) {
  header .navigation .nav_logo {
    height: 1.6rem;
    width: 6.9rem;
    margin: 0rem;
  }
}
header .navigation ul {
  display: none;
}
@media (min-width: 1024px) {
  header .navigation ul {
    display: inline-flex;
    justify-content: space-around;
    flex-shrink: 6;
    gap: 1rem;
  }
  header .navigation ul li a:hover {
    font-family: "Nexa Bold";
    color: var(--blue_bold_text);
  }
  header .navigation ul .tratmentItems {
    cursor: pointer;
  }
  header .navigation ul .tratmentItems span:hover {
    font-family: "Nexa Bold";
    color: var(--blue_bold_text);
  }
  header .navigation ul .tratmentItems:hover .treatmentsMenu {
    display: block;
  }
  header .navigation ul .tratmentItems .treatmentsMenu {
    display: none;
    padding-top: 0.3rem;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: absolute;
    text-align: center;
    background-color: var(--gray_background);
    top: 2.5rem;
    width: 15rem;
    margin-left: -5rem;
  }
  header .navigation ul .tratmentItems .treatmentsMenu .tratment_item {
    padding: 0.6rem 1rem;
  }
  header .navigation ul .tratmentItems .treatmentsMenu .tratment_item:hover {
    background-color: var(--white);
  }
}
header .navigation .nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
header .navigation .nav_btn button {
  display: none;
}
@media (min-width: 1024px) {
  header .navigation .nav_btn button {
    width: 7rem;
    font-size: 0.7rem;
    display: block;
    padding: 0.5rem 0.3rem;
    border-radius: 0.2rem;
    border: 0.09rem solid var(--deep_blue);
    flex: 6 6 3rem;
  }
}
header .navigation .nav_btn .profile_dropdown {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--light_blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  font-family: "Nexa bold";
  font-size: 0.6rem;
  line-height: 0.8rem;
  overflow: hidden;
}
header .navigation .nav_btn .profile_dropdown .fa-chevron-down {
  font-size: 0.7rem;
  margin-left: 0.3rem;
}
@media (min-width: 1024px) {
  header .navigation .nav_btn .profile_dropdown {
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: unset;
    width: auto;
    height: auto;
    display: block;
    background-color: var(--white);
  }
  header .navigation .nav_btn .profile_dropdown:hover {
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  header .navigation .nav_btn .fa-bars {
    display: none;
  }
}
header .navigation .dropDown {
  display: none;
  position: absolute;
  width: 15rem;
  top: 5.2rem;
  right: 1rem;
  background: var(--white);
  text-align: left;
}
@media only screen and (min-width: 768px) {
  header .navigation .dropDown {
    right: 2rem;
  }
}
@media (min-width: 1024px) {
  header .navigation .dropDown {
    right: 5.5rem;
  }
}
header .navigation .dropDown .user_details .profileAnchor {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--gray-border);
}
header .navigation .dropDown .user_details .profileAnchor span {
  display: block;
  margin-bottom: 0rem;
}
header .navigation .dropDown .user_details .profileAnchor span.user_name {
  font-family: "nexa bold";
  color: var(--blue_bold_text);
  margin-bottom: 0.5rem;
}
header .navigation .dropDown .user_details .profileAnchor figure {
  width: 3.5rem;
  height: 3.5rem;
}
header .navigation .dropDown ul {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
header .navigation .dropDown ul li {
  margin: 0rem;
}
header .navigation .dropDown ul li a {
  display: block;
  padding: 0.8rem 1rem;
  font-family: "nexa bold";
  border-left: 5px solid var(--white);
}
header .navigation .dropDown ul li a:hover {
  background-color: var(--gray-border);
  border-left: 5px solid var(--blue_color);
  cursor: pointer;
}

/*# sourceMappingURL=navigation.css.map */
