:root {
  --light_blue: #93bede;
  --border_color: #3b3d5e;
  --blue_number: #7ab2cf;
  --gray: #8e8e8e;
  --white_font: #fefdfe;
  --blue_background: #22263f;
  --white: #fefdfe;
  --doc-name: #378ce6;
  --black: #0d0f1e;
  --gray_background: #f3f3f3;
}

.find_healthcare {
  background-color: var(--light_blue);
}

.find_healthcare .input_field_location {
  display: flex;
  background-color: var(--white);
  align-items: center;
  padding: 0rem 0.7rem;
}

.find_healthcare .input_field_location input {
  margin: 0rem;
}

.find_healthcare .input_field_location i {
  font-size: 0.8rem;
}

.How_work .work_label {
  margin: 1rem 0.5rem;
  padding: 1rem 0.8rem;
  border: 0.1rem solid var(--border_color);
  text-align: left;
  border-radius: 0.5rem;
}

.How_work .work_label .num {
  color: var(--blue_number);
  padding: 0rem 0.4rem;
}

.How_work .disable,
.How_work .disable .num {
  color: var(--gray);
  border-color: var(--gray);
}

.How_work .consultation_img {
  height: 16rem;
  width: 15rem;
}

/* Doctor //////////////////////////////////////////////////////////////*/
.doctor {
  background-color: var(--blue_background);
}

.doctor h2,
.doctor p {
  color: var(--white_font);
}

.doctor .doctor_details .doc_details h4 {
  margin: 0rem;
  padding-bottom: 0.3rem;
  color: var(--doc-name);
}

.doctor .doctor_details .doc_details ul {
  padding: 0.6rem 0rem;
}
.doctor .doctor_details .doc_details img {
  height: 21rem;
}
.doctor .doc_details {
  background-color: var(--white);
  margin: 1rem 0rem;
  text-align: left;
}
/* feature //////////////////////////////////////////////////////////// */

.feature .img_block {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0rem;
  background: linear-gradient(to top, var(--black), transparent);
}

.feature .img_block img {
  position: relative;
  width: 100%;
  height: 21rem;
  object-fit: cover;
  z-index: -1;
}

.feature .img_block ul {
  position: absolute;
  bottom: 0.5rem;
  text-align: left;
}

.feature .img_block ul h4,
.feature .img_block ul li {
  color: var(--white);
}

/* Exclusive Services ///////////////////////////////////////////////////// */
.exclusive_services .servise_links .link_img_block img {
  height: 5rem;
  width: 5rem;
}

.exclusive_services .servise_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.7rem 0.15rem 1rem 0.15rem;
}

.exclusive_services,
.exclusive_services .servise_links {
  background-color: var(--gray_background);
}

.exclusive_services .servise_links .link_img_block {
  background-color: var(--white);
  width: 10rem;
  height: 7rem;
  margin: 0.35rem;
  border-radius: 0.8rem;
  flex: 5 5 8rem;
}
/* help /////////////////////////////////////////////////// */

/* .help {
  text-align: center;
  margin: 2px;
  background-color: #8fcaf1;
  padding: 1rem;
}

.help input {
  height: 4rem;
  width: 15rem;
  background-color: #0099ff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.help h2 {
  color: #ffffff;
} */

/* footer ///////////////////////////////////////////////////////////////// */
/* .footer {
  background-color: #021433;
  text-align: center;
}

.footer .footer_img {
  height: 3rem;
  padding: 20px 4px;
}
.footer li {
  color: #cccccc;
  padding: 10px 5px;
  font-size: 16;
}

.footer .fab {
  color: #cccccc;
  padding: 20px;
} */
