@import "./variabls.css";
main .find_healthcare {
  text-align: center;
  background-color: var(--light_blue);
}
@media (min-width: 1024px) {
  main .find_healthcare {
    text-align: left;
    background-image: url("../image/img1_head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.5rem;
  }
}
@media (min-width: 1024px) {
  main .find_healthcare p {
    width: 35rem;
  }
}
@media only screen and (min-width: 768px) {
  main .find_healthcare .combine_inputfild {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  main .find_healthcare .combine_inputfild {
    justify-content: flex-start;
  }
}
main .find_healthcare .combine_inputfild .input_field_location {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  main .find_healthcare .combine_inputfild .input_field_location {
    width: 20rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1024px) {
  main .find_healthcare .combine_inputfild .input_field_location {
    width: 12rem;
  }
}
main .find_healthcare .combine_inputfild .input_field_location input {
  margin-bottom: 0rem;
  width: 100%;
  border: none;
}
main .find_healthcare .combine_inputfild .input_field_location .fas {
  background-color: var(--white);
  padding: 0.7rem 0.4rem;
  align-self: center;
}
@media (min-width: 1024px) {
  main .find_healthcare .combine_inputfild .input_field_location .fas {
    height: 1.2rem;
  }
}
main .find_healthcare .combine_inputfild .search_input {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  main .find_healthcare .combine_inputfild .search_input {
    margin-bottom: 0rem;
    margin-left: 0.1rem;
  }
}
@media (min-width: 1024px) {
  main .find_healthcare .combine_inputfild .search_input {
    width: 24rem;
  }
}
main .find_healthcare .combine_inputfild .search_btn {
  border: none;
}
main .How_work {
  text-align: center;
}
@media (min-width: 1024px) {
  main .How_work {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  main .How_work .work_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1024px) {
  main .How_work .work_content {
    column-gap: 2rem;
  }
}
main .How_work .work_content .work_label {
  padding: 0.7rem;
  border: 1px solid var(--deep_blue);
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  main .How_work .work_content .work_label {
    margin-bottom: 0rem;
  }
}
@media (min-width: 1024px) {
  main .How_work .work_content .work_label {
    padding: 1.5rem 0.5rem;
  }
}
main .How_work .work_content .work_label .num {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: var(--light_blue);
}
@media (min-width: 1024px) {
  main .How_work .work_content .work_label .num {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
main .How_work .work_content .enable_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  main .How_work .work_content .enable_article {
    justify-content: center;
    grid-area: 1/2/span 7/span 1;
  }
}
main .How_work .work_content .enable_article figure {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  main .How_work .work_content .enable_article figure {
    width: 23rem;
    height: 23rem;
  }
}
main .How_work .work_content .enable_article p {
  font-size: 0.7rem;
  line-height: 0.9rem;
}
main .How_work .work_content .disable_article {
  display: none;
}
main .How_work .work_content .disable_h3 {
  border: 1px solid var(--gray-border);
  color: var(--gray);
}
main .How_work .work_content .disable_h3 .num {
  color: var(--gray);
}
main .doctor {
  text-align: center;
  background-color: var(--deep_blue);
}
@media (min-width: 1024px) {
  main .doctor {
    text-align: left;
  }
}
main .doctor h2,
main .doctor p {
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  main .doctor .doctor_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1024px) {
  main .doctor .doctor_details {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
main .doctor .doctor_details .doc_details {
  background-color: var(--white);
  text-align: left;
  margin-bottom: 1rem;
  border-bottom: 0.3rem solid var(--light_blue);
}
@media only screen and (min-width: 768px) {
  main .doctor .doctor_details .doc_details {
    margin-bottom: 0rem;
  }
}
main .doctor .doctor_details .doc_details figure {
  width: 100%;
  height: 23rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 1024px) {
  main .doctor .doctor_details .doc_details figure {
    height: 18rem;
  }
}
main .doctor .doctor_details .doc_details h4 {
  color: var(--blue_bold_text);
  font-size: 1rem;
}
main .doctor .doctor_details .doc_details h4 .horizontal_bar {
  color: var(--blue_bold_text);
  letter-spacing: -1px;
  font-size: 1rem;
}
main .doctor .doctor_details .doc_details ul {
  padding-left: 1.3rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 1024px) {
  main .doctor .doctor_details .fade {
    animation-name: fade;
    animation-duration: 1.2s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
main .doctor .doctor_details .surgery {
  margin-bottom: 0rem;
}
main .doctor .dots {
  display: none;
}
@media (min-width: 1024px) {
  main .doctor .dots {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
  }
}
main .doctor .dots .dot {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: var(--gray);
}
main .doctor .dots .selected {
  background-color: var(--deep_blue);
  border: 2px solid var(--blue_color);
}
main .feature {
  text-align: center;
}
@media (min-width: 1024px) {
  main .feature {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  main .feature .content_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1024px) {
  main .feature .content_details {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 3rem);
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  main .feature .content_details .dentistry {
    grid-area: 1/1/span 4/span 1;
  }
  main .feature .content_details .cancer {
    grid-area: 1/2/span 6/span 1;
  }
  main .feature .content_details .cardiologic {
    grid-area: 1/3/span 5/span 1;
  }
  main .feature .content_details .multi_organ {
    grid-area: 5/1/span 7/span 1;
  }
  main .feature .content_details .orthopedics {
    grid-area: 7/2/span 5/span 1;
  }
  main .feature .content_details .infertility {
    grid-area: 6/3/span 6/span 1;
  }
}
main .feature .content_details .img_block {
  position: relative;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  main .feature .content_details .img_block {
    margin-bottom: 0rem;
  }
}
main .feature .content_details .img_block figure {
  height: 20rem;
  width: 100%;
}
@media (min-width: 1024px) {
  main .feature .content_details .img_block figure {
    height: 100%;
  }
}
main .feature .content_details .img_block ul {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 20;
  text-align: left;
}
main .feature .content_details .img_block ul h4,
main .feature .content_details .img_block ul li {
  color: var(--white);
}
main .feature .content_details .img_block .blue_gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to top, var(--deep_blue), transparent);
}
main .feature .content_details .infertility {
  margin-bottom: 0rem;
}
main .feature .feature_dots {
  display: none;
}
@media (min-width: 1024px) {
  main .feature .feature_dots {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
  }
}
main .feature .feature_dots .feature_dot {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: var(--gray);
}
main .feature .feature_dots .selected {
  background-color: var(--white);
  border: 2px solid var(--blue_color);
}
main .exclusive_services {
  text-align: center;
  background-color: var(--gray_background);
}
@media (min-width: 1024px) {
  main .exclusive_services {
    text-align: left;
  }
}
main .exclusive_services .servise_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6rem;
}
@media only screen and (min-width: 768px) {
  main .exclusive_services .servise_links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  main .exclusive_services .servise_links {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
  }
}
main .exclusive_services .servise_links .link_img_block {
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
main .exclusive_services .servise_links .link_img_block h5 {
  color: var(--gray);
}
@media (min-width: 1024px) {
  main .exclusive_services .servise_links .link_img_block {
    border-radius: 0rem;
  }
}
main .exclusive_services .servise_links .link_img_block figure {
  height: 4rem;
  width: 4rem;
}

/*# sourceMappingURL=style.css.map */
