@import "../css/variabls.css";
@font-face {
  font-family: "Nexa Light";
  src: url(../font/Nexa-Light.otf);
}
@font-face {
  font-family: "Nexa Bold";
  src: url(../font/Nexa-Bold.otf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa Bold";
  color: var(--deep_blue);
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  h1,
h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 0.7rem;
  }
}
@media (min-width: 1024px) {
  h1,
h2 {
    font-size: 1.9rem;
    line-height: 2.1rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.6rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
}

h4 {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-bottom: 0.2rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 0.4rem;
  }
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

h5 {
  font-size: 0.7rem;
  line-height: 0.9rem;
  margin-bottom: 0.3rem;
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin-bottom: 0.3rem;
  }
}
@media (min-width: 1024px) {
  h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin-bottom: 0.3rem;
  }
}

h6 {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 0.2rem;
}
@media only screen and (min-width: 768px) {
  h6 {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 0.2rem;
  }
}
@media (min-width: 1024px) {
  h6 {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}

header {
  font-family: "Nexa Light";
  padding: 1rem;
  background-color: var(--white);
}
@media only screen and (min-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1.1rem 5.5rem;
  }
}

p {
  font-family: "Nexa Light";
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  word-spacing: 1px;
  color: var(--deep_blue);
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1rem;
    word-spacing: 1.5px;
    margin-bottom: 0.7rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 1024px) {
  p {
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
    font-size: 1.1rem;
  }
}

button {
  padding: 0.6rem 2rem;
  letter-spacing: 1px;
  outline: none;
  font-size: 0.8rem;
  font-family: "Nexa Light";
  color: var(--white);
  background-color: var(--deep_blue);
}
@media only screen and (min-width: 768px) {
  button {
    padding: 0.7rem 2rem;
  }
}
@media (min-width: 1024px) {
  button {
    padding: 0.8rem 3rem;
  }
}

textarea,
input[type=text],
[type=password],
[type=email],
[type=date] {
  font-family: "nexa light";
  padding: 0.6rem 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  outline: none;
  border: 1px solid var(--gray-border);
}
textarea::placeholder,
input[type=text]::placeholder,
[type=password]::placeholder,
[type=email]::placeholder,
[type=date]::placeholder {
  font-family: "Nexa Light";
  color: var(--placeHolderColor);
  font-size: 0.8rem;
  line-height: 1.1rem;
}
@media only screen and (min-width: 768px) {
  textarea::placeholder,
input[type=text]::placeholder,
[type=password]::placeholder,
[type=email]::placeholder,
[type=date]::placeholder {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}
@media only screen and (min-width: 768px) {
  textarea,
input[type=text],
[type=password],
[type=email],
[type=date] {
    padding: 0.6rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}
@media (min-width: 1024px) {
  textarea,
input[type=text],
[type=password],
[type=email],
[type=date] {
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.5rem;
  }
}

select {
  font-family: "Nexa Light";
  padding: 0.6rem 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  color: var(--placeHolderColor);
  border: 1px solid var(--gray-border);
}
@media only screen and (min-width: 768px) {
  select {
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1024px) {
  select {
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.5rem;
  }
}

select option {
  font-family: "Nexa Light";
  color: var(--deep_blue);
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--deep_blue);
}

label {
  font-family: "Nexa Light";
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  font-size: 0.7rem;
}
@media only screen and (min-width: 768px) {
  label {
    margin-bottom: 0.6rem;
    line-height: 1.1rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  label {
    margin-bottom: 0.7rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
  }
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

ul li {
  font-family: "Nexa Light";
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  line-height: 1rem;
  color: var(--deep_blue);
}
@media only screen and (min-width: 768px) {
  ul li {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    line-height: 0.9rem;
  }
}
@media (min-width: 1024px) {
  ul li {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    line-height: 1.1rem;
  }
}

section {
  font-family: "Nexa Light";
  color: var(--deep_blue);
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 768px) {
  section {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  section {
    padding: 3.5rem 5.5rem;
  }
}

i {
  font-family: "Nexa Light";
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--deep_blue);
}
@media (min-width: 1024px) {
  i {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

a {
  font-family: "Nexa Light";
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-decoration: none;
  color: var(--deep_blue);
}
a:link {
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  a {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

span {
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
  color: var(--deep_blue);
}
@media only screen and (min-width: 768px) {
  span {
    margin-bottom: 0.7rem;
    line-height: 1.1rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  span {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

/*# sourceMappingURL=theme.css.map */
