@import "./variabls.css";

@font-face {
  font-family: "Nexa Light";
  src: url(../font/Nexa-Light.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../font/Nexa-Bold.otf);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nexa Bold";
  color: var(--deep_blue);
}

h1,
h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.2rem;
}

h5 {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.3rem;
}

h6 {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 0.2rem;
}

header {
  padding: 1rem;
  background-color: var(--white);
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--deep_blue);
}

body {
  font-family: "Nexa Light";
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

button {
  padding: 0.65rem 2rem;
  letter-spacing: 2px;
  outline: none;
  font-size: 0.8rem;
  font-family: "Nexa Light";
}

input[type="text"],
[type="password"],
[type="email"],
[type="date"] {
  padding: 0.6rem 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  outline: none;
  border: 1px solid var(--gray-border);
}

select {
  padding: 0.8rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  outline: none;
  color: var(--placeHolderColor);
  border: 1px solid var(--gray-border);
}

select option {
  color: var(--deep_blue);
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--deep_blue);
}

input::placeholder {
  color: var(--placeHolderColor);
}

label {
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  font-size: 0.7rem;
}

textarea {
  border: 2px solid var(--gray-border);
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

ul li {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  line-height: 1rem;
  color: var(--deep_blue);
}

section {
  color: var(--deep_blue);
  padding: 1.5rem 1rem;
}

i {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--deep_blue);
}

a:link {
  text-decoration: none;
}

a {
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-decoration: none;
  color: var(--deep_blue);
}

span {
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
  color: var(--deep_blue);
}

/* Ipad View ////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 0.7rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.6rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 0.4rem;
  }

  h5 {
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0.3rem;
  }

  h6 {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 0.2rem;
  }

  header {
    padding: 1rem 2rem;
  }

  p {
    margin-bottom: 0.7rem;
    line-height: 1rem;
    font-size: 0.9rem;
  }

  section {
    padding: 2rem;
  }

  ul li {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    line-height: 0.9rem;
  }

  body {
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }

  span {
    margin-bottom: 0.7rem;
    line-height: 1.1rem;
    font-size: 0.9rem;
    color: var(--deep_blue);
  }

  input[type="text"],
  [type="password"],
  [type="email"],
  [type="date"] {
    padding: 0.6rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  a {
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: var(--deep_blue);
  }

  label {
    margin-bottom: 0.7rem;
    line-height: 1.1rem;
    font-size: 0.8rem;
  }
}

/* Desktop View */
@media (min-width: 1024px) {
  h1,
  h2 {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 0.3rem;
  }

  header {
    padding: 1.1rem 5.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
    font-size: 1.1rem;
    word-spacing: 0.15rem;
    color: var(--deep_blue);
  }

  a {
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--deep_blue);
  }

  input[type="text"],
  [type="password"],
  [type="email"],
  [type="date"] {
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.5rem;
    outline: none;
  }

  select {
    padding: 1rem 0.8rem;
    margin-bottom: 0.5rem;
    outline: none;
  }

  button {
    padding: 0.8rem 3rem;
    outline: none;
    font-family: "Nexa Light";
  }

  section {
    padding: 3.5rem 5.5rem;
  }

  label {
    margin-bottom: 0.7rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
  }

  .fas,
  .far {
    font-size: 1.1rem;
  }
}
