:root {
  --deep_blue: #151e3b;
  --white: #ffffff;
  --placeHolderColor: #e0d1c8;
  --gray-border: #d5d5d5;

  --light_blue: #93bede;
  --gray: #8e8e8e;
  --blue_bold_text: #378ce6;
  --black: #0d0f1e;
  --gray_background: #f3f3f3;
  --blue_color: #3c7abe;
  --para_background: #e5f1f7;
  --green: #008000;
  --blue_border: #b3d5e8;
  --red_error: #ff0000;
  --info_color: #4100fc;
  --gray_tag: #e0dbdb;
  --red-button: #ff0000;
  --green-button: #00a651;
  --green-border: #5e6461;
  --skyBlue-hospitalIdentifier: #008ED6;
  --blue-hospitalIdentifier: #3b3f7d;
  --color3-hospitalIdentifier: #2700ff;
  --color4-hospitalIdentifie: #00e1ff;
  --orange: #FA8072;
}
