:root {
  --deep_blue: #151e3b;
  --white: #ffffff;
  --placeHolderColor: #e0d1c8;
  --gray-border: #d5d5d5;

  --light_blue: #93bede;
  --gray: #8e8e8e;
  --blue_bold_text: #378ce6;
  --black: #0d0f1e;
  --gray_background: #f3f3f3;
  --blue_color: #0173b2;
}
