@import "../css/variabls.css";
body {
  background-color: var(--light_blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
body header {
  background-color: var(--white);
}
body main {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
}
@media only screen and (min-width: 768px) {
  body main {
    margin: 3rem 2rem;
  }
}
body main .form {
  background-color: var(--white);
  padding: 1.5rem 1rem;
  width: 100%;
  box-shadow: 0rem 0rem 1rem var(--gray);
}
body main .form input[type=text],
body main .form [type=password],
body main .form [type=email],
body main .form [type=date],
body main .form [type=number],
body main .form textarea {
  width: 100%;
}
body main .form input[type=date] {
  color: var(--placeHolderColor);
}
body main .form .select_box {
  position: relative;
}
body main .form .select_box .select {
  width: 100%;
  appearance: none;
}
body main .form .select_box .select .hide_option {
  display: none;
}
body main .form .select_box .fa-caret-down {
  position: absolute;
  top: 0.7rem;
  right: 0.9rem;
  pointer-events: none;
}
@media (min-width: 1024px) {
  body main .form .select_box .fa-caret-down {
    right: 1.1rem;
  }
}
@media only screen and (min-width: 768px) {
  body main .form {
    width: 30rem;
  }
}
@media (min-width: 1024px) {
  body main .form {
    width: 32rem;
  }
}
body main .form h1 {
  color: var(--blue_bold_text);
  border-bottom: 1.5px solid var(--gray-border);
  margin: 0rem -1rem 1rem;
  padding-bottom: 1.5rem;
}
body main .form hr {
  margin: 1rem -1rem 1rem;
}
body main .form .log-button {
  position: relative;
}
body main .form .log-button button {
  letter-spacing: 0.2rem;
  border: none;
  width: 100%;
  margin-bottom: 0.8rem;
}
body main .form .log-button .fa-arrow-right {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  color: var(--white);
  pointer-events: none;
}
@media (min-width: 1024px) {
  body main .form .log-button .fa-arrow-right {
    top: 0.7rem;
  }
}
body main .form label {
  font-size: 0.8rem;
}
body main .form label a {
  font-family: "Nexa Bold";
  font-size: 0.8rem;
  color: var(--blue_bold_text);
}
body footer {
  padding: 0rem 1rem 2rem;
}
body footer p {
  margin: 0rem;
  font-family: "Nexa Bold";
}

body {
  position: relative;
}
body main .form {
  text-align: left;
}
body main .form .tagContainer {
  border: 1px solid var(--gray-border);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}
body main .form .tagContainer .tag {
  background-color: var(--gray_tag);
  padding: 0.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  flex-wrap: wrap;
}
body main .form .tagContainer .tag span {
  margin: 0rem;
}
body main .form .tagContainer .tag .fa-times {
  font-size: 0.7rem;
}
body main .form .tagContainer input {
  padding: 0rem;
  margin: 0.2rem;
  border: none;
  min-width: 5rem;
  max-width: 10rem;
}
body main .form h1 {
  text-align: center;
}
body main .form h4 {
  color: var(--blue_bold_text);
}

/*# sourceMappingURL=wellcome.css.map */
